{% extends "../base/base.html" %}
{% block title %}Index{% endblock %}

{% block template %}
{% include "../base/navbar.html" %}
{% load crispy_forms_tags %}
{% load filters %}

<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.25/css/jquery.dataTables.min.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

<style>
    /* Adjust button widths to be the same */
    .btn-primary,
    .btn-success {
        width: 100px;
        /* Change the width as needed */
    }

    #fileTable td {
        padding: 2px;
        /* Adjust the padding as needed */
    }

    .custom-legend {
        font-size: 1.2em;
        /* Adjust the font size */
        font-weight: normal;
        /* Make the font weight lighter */
        color: #555;
        ;
        /* Use a softer color */
    }
</style>

<div class="container mb-2" style="height: 95vh;">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-10 col-md-8 col-lg-8 col-xl-8">

            <div class="border-bottm mb-2 mt-2">
                <div class="align-items-start">
                    <div class="mr-2 mb-2">
                        <a href="{% url 'list_folders' %}" class="fa fa-home" style="font-size:22px;color:#0c91ea"></a>
                    </div>
                    <div>
                        <span class="mb-0">
                            Contents of Folder: {{ current_path|default:"Home"|truncate_folder_name:20 }}
                        </span>
                    </div>
                </div>
            </div>
            
            

            <table id="fileTable">
                <thead>
                    <tr>
                        <th>Name</th>


                    </tr>
                </thead>
                <tbody>
                    {% for folder in folders %}
                    <tr>
                        <td style="padding-right: 10px;">
                            <i class="fas fa-folder" style="color: #0c91ea; font-size: 24px; padding-right: 5px;"></i>
                            <a href="{% url 'list_folders' path=folder.path_lower %}">
                                {{ folder.name|extract_filename }}</a>
                        </td>


                    </tr>
                    {% endfor %}

                    {% for file_data in files %}
                    <tr>
                        <td
                            style="padding-right: 10px; max-width: 150px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;">
                            <div style="display: flex; align-items: center;">
                                {% if file_data.extension|lower == 'pdf' %}
                                <i class="far fa-file-pdf"
                                    style="color: red; font-size: 22px; padding-right: 16px;"></i>
                                <!-- PDF file icon in red -->
                                {% elif file_data.extension|lower == 'xlsx' or file_data.extension|lower == 'xls' %}
                                <i class="far fa-file-excel"
                                    style="color: green; font-size: 22px; padding-right: 16px;"></i>
                                <!-- XLSX file icon in green -->
                                {% elif file_data.extension|lower == 'jpg' or file_data.extension|lower == 'jpeg' %}
                                <i class="far fa-file-image"
                                    style="color: blue; font-size: 22px; padding-right: 16px;"></i>
                                <!-- Image file icon in blue -->
                                {% elif file_data.extension|lower == 'mp4' %}
                                <i class="far fa-file-video"
                                    style="color: purple; font-size: 22px; padding-right: 16px;"></i>
                                <!-- MP4 file icon in purple -->
                                {% elif file_data.extension|lower == 'zip' %}
                                <i class="far fa-file-archive"
                                    style="color: rgb(14, 14, 14); font-size: 22px; padding-right: 16px;"></i>
                                <!-- ZIP file icon in default color -->
                                {% elif file_data.extension|lower == 'docx' %}
                                <i class="far fa-file-word"
                                    style="color: blue; font-size: 24px; padding-right: 16px;"></i>
                                <!-- DOCX file icon in blue -->
                                {% else %}
                                <i class="far fa-file-pdf"
                                    style="color: red; font-size: 22px; padding-right: 16px;"></i>
                                <!-- Default file icon in red -->
                                {% endif %}
                                <!-- File details -->
                                <div
                                    style="display: flex; flex-direction: column; justify-content: flex-start; overflow: hidden;">
                                    <!-- File name -->
                                    <a href="{% url 'download_file' %}?path={{ file_data.metadata.path_display|urlencode }}"
                                        style="text-overflow: ellipsis; overflow: hidden;">
                                        {{ file_data.metadata.name|extract_filename }}
                                        <!-- Adjust the length as needed -->
                                    </a>
                                    <!-- Modified date -->
                                    <div style="font-size: 12px; color: #888; margin-left: 5px;">
                                        {{ file_data.metadata.client_modified|date:"Y-m-d H:i:s" }}</div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
</div>

<!-- Include jQuery (required by DataTables) -->
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<!-- Include DataTables JS -->
<script type="text/javascript" src="https://cdn.datatables.net/1.10.25/js/jquery.dataTables.min.js"></script>


<!-- Initialize DataTables on the table -->
<script>

    $(document).ready(function () {
        $('#fileTable').DataTable({
            language: { search: "" },
            responsive: true,
            "pageLength": 10,
        })

        // Set the placeholder without the word "Search"
        $('.dataTables_filter input[type="search"]').attr('placeholder', 'Search...');

        // Apply custom CSS styles to align the search box to the left
        $('.dataTables_filter input[type="search"]').css({
            'text-align': 'left', // Align the text to the left
            'border-radius': '10px', // Adjust the border-radius as needed
            'padding-left': '10px' // Add padding to the left for the text
        });

    });
</script>


{% endblock %}