{% extends "../base/base.html" %}
{% block title %}Index{% endblock %}

{% block template %}
{% include "../base/navbar.html" %}
{% load crispy_forms_tags %}
{{ form|as_crispy_errors }}

<head>
    <style>
        .container {
            max-width: 100%;
            overflow-x: hidden;
            /* Prevent horizontal overflow */
        }

        select,
        input,
        button {
            max-width: 100%;
            box-sizing: border-box;
            /* Include padding and border in the element's width */
        }
    </style>
</head>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-6">
            <h2>Create Site Incident Report</h2>
            <form method="post" enctype="multipart/form-data" id="form" class="was-validated">
                {% csrf_token %}
                {{ form.user_employer|as_crispy_field }}
                {{ form.image_folder }}
                <div class="section">
                    <h2>Section 1: Incident Information</h2>
                    <h4>Primary Incident Type</h4>
                    <div class="form-group">
                        {{ form.injuryorillness|as_crispy_field }}
                        {{ form.environmental|as_crispy_field }}
                        {{ form.regulatory|as_crispy_field }}
                        {{ form.economicdamage|as_crispy_field }}
                        {{ form.reputation|as_crispy_field }}
                        {{ form.security|as_crispy_field }}
                        {{ form.fire|as_crispy_field }}
                    </div>
                </div>

                <div class="section">
                    <h2>Incident Details</h2>
                    <div class="form-group">
                        {{ form.store|as_crispy_field }}
                        {{ form.brief_description|as_crispy_field }}
                        {{ form.eventdetails|as_crispy_field }}
                        {{ form.eventdate|as_crispy_field }}
                        {{ form.eventtime|as_crispy_field }}
                        {{ form.reportedby|as_crispy_field }}
                        {{ form.reportedbynumber|as_crispy_field }}
                        <h4>Is the person a:</h4>
                        {{ form.suncoremployee|as_crispy_field }}
                        {{ form.contractor|as_crispy_field }}
                        {{ form.associate|as_crispy_field }}
                        {{ form.generalpublic|as_crispy_field }}
                        {{ form.other|as_crispy_field }}
                        {{ form.othertext|as_crispy_field }}
                    </div>
                </div>

                <div class="section">
                    <h2>Actions Taken</h2>
                    <div class="form-group">
                        {{ form.actionstaken|as_crispy_field }}
                        {{ form.correctiveactions|as_crispy_field }}
                    </div>
                </div>

                <div class="section">
                    <h2>Section2: Spills</h2>
                    <h3>Complete if spill occurred</h3>
                    <div class="form-group">
                        {{ form.sno|as_crispy_field }}
                        {{ form.syes|as_crispy_field }}
                        {{ form.scomment|as_crispy_field }}
                        <h4>Were Regulatory Authorities Notified</h4>
                        {{ form.rna|as_crispy_field }}
                        {{ form.rno|as_crispy_field }}
                        {{ form.ryes|as_crispy_field }}
                        {{ form.rcomment|as_crispy_field }}
                        <h4>Product Spilled</h4>
                        {{ form.gas|as_crispy_field }}
                        {{ form.diesel|as_crispy_field }}
                        {{ form.sewage|as_crispy_field }}
                        {{ form.deiselexhaustfluid|as_crispy_field }}
                        {{ form.chemical|as_crispy_field }}
                        {{ form.chemcomment|as_crispy_field }}
                        {{ form.sother|as_crispy_field }}
                        {{ form.s2comment|as_crispy_field }}
                        <h4>Source Impacted</h4>
                        {{ form.air|as_crispy_field }}
                        {{ form.water|as_crispy_field }}
                        {{ form.wildlife|as_crispy_field }}
                        {{ form.land|as_crispy_field }}
                        {{ form.volumerelease|as_crispy_field }}
                    </div>
                </div>

                <div class="section">
                    <h2>Section 3: Security</h2>
                    <div class="form-group">
                        {{ form.pyes|as_crispy_field }}
                        {{ form.pno|as_crispy_field }}
                        {{ form.pna|as_crispy_field }}
                        {{ form.pcase|as_crispy_field }}
                        {{ form.stolentransactions|as_crispy_field }}
                        {{ form.stoltransactions|as_crispy_field }}
                        {{ form.stolencards|as_crispy_field }}
                        {{ form.stolcards|as_crispy_field }}
                        {{ form.stolentobacco|as_crispy_field }}
                        {{ form.stoltobacco|as_crispy_field }}
                        {{ form.stolenlottery|as_crispy_field }}
                        {{ form.stollottery|as_crispy_field }}
                        {{ form.stolenfuel|as_crispy_field }}
                        {{ form.stolfuel|as_crispy_field }}
                        {{ form.stolenother|as_crispy_field }}
                        {{ form.stolother|as_crispy_field }}
                        {{ form.stolenothervalue|as_crispy_field }}
                        {{ form.stolenna|as_crispy_field }}
                    </div>
                </div>

                <div class="section">
                    <h2>Section 4: Suspect Details</h2>
                    <div class="form-group">
                        {{ form.gender|as_crispy_field }}
                        {{ form.height|as_crispy_field }}
                        {{ form.weight|as_crispy_field }}
                        {{ form.haircolor|as_crispy_field }}
                        {{ form.haircut|as_crispy_field }}
                        {{ form.complexion|as_crispy_field }}
                        {{ form.beardmoustache|as_crispy_field }}
                        {{ form.eyeeyeglasses|as_crispy_field }}
                        {{ form.licencenumber|as_crispy_field }}
                        {{ form.makemodel|as_crispy_field }}
                        {{ form.color|as_crispy_field }}
                        {{ form.scars|as_crispy_field }}
                        {{ form.tatoos|as_crispy_field }}
                        {{ form.hat|as_crispy_field }}
                        {{ form.shirt|as_crispy_field }}
                        {{ form.trousers|as_crispy_field }}
                        {{ form.shoes|as_crispy_field }}
                        {{ form.voice|as_crispy_field }}
                        {{ form.bumpersticker|as_crispy_field }}
                        {{ form.direction|as_crispy_field }}
                        {{ form.damage|as_crispy_field }}
                    </div>
                </div>


                {% if existing_images %}
                <div class= "text-center mt-2 mb-2 border border-dark p-3" >
                <h2>Existing Images</h2>
                <div class="ms-2 mt-2">

                    {% for image_url in existing_images %}
                    <img src="{{ image_url }}" alt="Existing Image" width="100" height="100">
                    {% endfor %}
                </div>
                </div>
                {% endif %}

                <div class="section text-center">
                    <h2>Upload Images</h2>
                    Pictures Only
                    Maximum 4
                    No Video
                    <div class="form-group">
                        <div class="dropzone" id="my-dropzone" class="mb-3"> </div>
                    </div>
                </div>
                <div class="text-center">
                    <button type="submit" id="submit" class="btn btn-primary ms-2 mt-2" style="margin-bottom: 20px;">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>

{% if form.errors %}
<div class="alert alert-danger">
    <ul>
        {% for field_name, error_list in form.errors.items %}
        <li>{{ field_name }}: {{ error_list|join:", " }}</li>
        {% endfor %}
    </ul>
</div>
{% endif %}
<div class="modal fade" id="successModal" tabindex="-1" aria-labelledby="successModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="successModalLabel">Files Uploaded Successfully</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Your files have been uploaded successfully.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>


<script>
    // Function to retrieve CSRF token from cookies
    function getCSRFToken() {
        let csrfToken = null;
        const cookies = document.cookie.split(';');
        for (const cookie of cookies) {
            const [name, value] = cookie.trim().split('=');
            if (name === 'csrftoken') {
                csrfToken = decodeURIComponent(value);
                break;
            }
        }
        return csrfToken;
    }

    // Initialise Dropzone
    let randomNumber;
    let myDropzone = new Dropzone("#my-dropzone", {
        url: "{% url 'incident_upload' %}",
        maxFilesize: 5, // MB
        maxFiles: 4,
        acceptedFiles: "image/*",
        headers: {
            "X-CSRFToken": getCSRFToken(),
        },
    });

    // Enable the next button initially
    const submitButton = document.getElementById("submit");
    submitButton.disabled = false;

    myDropzone.on("sending", function (file, xhr, formData) {
        var imageFolderValue = document.getElementById('id_image_folder').value;
        formData.append("image_folder", imageFolderValue);

        // Deactivate the next button while sending the file
        submitButton.disabled = true;
    });

    myDropzone.on("success", function (file, response) {
        // Enable the next button after files are uploaded successfully
        document.getElementById("submit").disabled = false;

        // Show a success popup using a Bootstrap modal
        $("#successModal").modal("show");
    });

</script>




{% endblock %}