{% extends "../base/base.html" %}
{% block title %}Index{% endblock %}

{% block template %}
{% include "../base/navbar.html" %}
{% load crispy_forms_tags %}
{{ form|as_crispy_errors }}

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css"
        href="https://cdn.datatables.net/v/dt/jq-3.6.0/jszip-2.5.0/dt-1.12.1/b-2.2.3/b-html5-2.2.3/b-print-2.2.3/r-2.3.0/datatables.min.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript"
        src="https://cdn.datatables.net/v/dt/jq-3.6.0/jszip-2.5.0/dt-1.12.1/b-2.2.3/b-html5-2.2.3/b-print-2.2.3/r-2.3.0/datatables.min.js"></script>

</head>

<body>
    <div class="container mb-2" style="height: 95vh;">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-10 col-md-8 col-lg-8 col-xl-8 mt-2">
                <table id="table_id" class="display">
                    <thead>
                        <tr>

                            <th>Store</th>
                            <th>Description</th>
                            <th>Date</th>
                            <th>Edit</th>
                            <th>PDF</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for incident in incidents %}
                        <tr>

                            <td>{{ incident.store.number }}</td>
                            <td>{{ incident.brief_description }}</td>
                            <td>{{ incident.eventdate|date:"Y-m-d" }}</td>
                            <td>
                                <a href="{% url 'update_major_incident' pk=incident.id %}" id="edit-button"
                                    class="fa fa-edit" style="font-size:22px;color:blue"></a>
                            </td>
                            <td>
                                <a href="{% url 'generate_major_incident_pdf' incident.id %}" id="pdf-button"
                                    class="fa fa-file-pdf-o" style="font-size:22px;color:red"></a>

                            </td>
                            

                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</body>

<script>


    $(document).ready(function () {
        $('#table_id').DataTable({
            language: { search: "" },
            responsive: true,
            "pageLength": 10,
            order: [[2, 'desc']]
        })

        // Set the placeholder without the word "Search"
        $('.dataTables_filter input[type="search"]').attr('placeholder', 'Search...');

        // Apply custom CSS styles to align the search box to the left
        $('.dataTables_filter input[type="search"]').css({
            'text-align': 'left', // Align the text to the left
            'border-radius': '10px', // Adjust the border-radius as needed
            'padding-left': '10px' // Add padding to the left for the text
        });

    });


</script>

{% endblock %}