aiohttp==3.8.4
aiohttp-retry==2.8.3
aiosignal==1.3.1
amqp==5.1.1
asgiref==3.7.2
async-timeout==4.0.2
attrs==23.1.0
billiard==4.1.0
black==23.3.0
celery==5.3.1
certifi==2023.5.7
cffi==1.15.1
charset-normalizer==3.2.0
click==8.1.3
click-didyoumean==0.3.0
click-plugins==1.1.1
click-repl==0.3.0
coverage==7.2.7
crispy-bootstrap4==2022.1
cron-descriptor==1.4.0
cryptography==41.0.2
defusedxml==0.7.1
diff-match-patch==20230430
Django==4.2.3
django-celery-beat==2.5.0
django-celery-results==2.5.1
django-countries==7.5.1
django-crispy-forms==2.0
django-htmx==1.15.0
django-import-export==3.2.0
django-intl-tel-input==0.3.1
django-phonenumber-field==7.1.0
django-sendgrid-v5==1.2.2
django-taggit==4.0.0
django-timezone-field==5.1
docusign-esign==3.23.0
et-xmlfile==1.1.0
exceptiongroup==1.1.2
factory-boy==3.2.1
Faker==18.11.2
flake8==6.0.0
flower==2.0.0
frozenlist==1.3.3
humanize==4.7.0
idna==3.4
inflection==0.5.1
iniconfig==2.0.0
kombu==5.3.1
MarkupPy==1.14
mccabe==0.7.0
multidict==6.0.4
mypy-extensions==1.0.0
nose==1.3.7
odfpy==1.4.1
openpyxl==3.1.2
packaging==23.1
pathspec==0.11.1
phonenumbers==8.13.15
platformdirs==3.8.0
pluggy==1.2.0
prometheus-client==0.17.1
prompt-toolkit==3.0.39
psycopg==3.1.9
psycopg-binary==3.1.9
psycopg2-binary==2.9.6
pycodestyle==2.10.0
pycparser==2.21
pyflakes==3.0.1
PyJWT==2.7.0
pytest==7.4.0
pytest-cov==4.1.0
pytest-django==4.5.2
pytest-factoryboy==2.5.1
python-crontab==3.0.0
python-dateutil==2.8.2
python-dotenv==1.0.0
python-http-client==3.3.7
pytz==2023.3
PyYAML==6.0
requests==2.31.0
sendgrid==6.10.0
six==1.16.0
sqlparse==0.4.4
starkbank-ecdsa==2.2.0
tablib==3.5.0
tomli==2.0.1
tornado==6.3.2
twilio==8.4.0
typing_extensions==4.7.1
tzdata==2023.3
urllib3==2.0.3
vine==5.0.0
wcwidth==0.2.6
xlrd==2.0.1
xlwt==1.3.0
yarl==1.9.2
