{% extends "../base/base.html" %}
{% block title %}Index{% endblock %}

{% block template %}
{% include "../base/navbar.html" %}
{% load crispy_forms_tags %}

<head>
    <title>Verification</title>
</head>
<body>
    <form method="post">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-6">
                    <legend class="border-bottm mb-4">Login</legend>
                    {% if verification_error %}
                    <p style="color: red;">Verification failed. Please try again.</p>
                    {% endif %}
                    {% csrf_token %}
                    {{ form|crispy }}
                   

                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </div>
        </div>
    </form>
</body>

{% endblock %}