{% extends "../base/base.html" %}
{% block title %}Register Employer{% endblock %}

{% block template %}
{% load static %}
{% include "../base/navbar.html" %}
{% load crispy_forms_tags %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-6">
  <legend> Registration Successful</legend>
  <p>Thank you for registering your company. We will review your request and notify you once approved.</p>
</div>
</div>
</div>
{% endblock %}