{% extends "../base/base.html" %}
{% block title %}Index{% endblock %}

{% block template %}
{% load static %}
{% include "../base/navbar.html" %}
{% load crispy_forms_tags %}
<!DOCTYPE html>

<html lang="en">

<head>
    <title>International telephone input</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/css/intlTelInput.css" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/intlTelInput.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- Add these script tags to include jQuery and jQuery UI -->
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <style>
        @media (max-width: 576px) {
            /* Apply this style on screens smaller than 576px, e.g., iPhone */
            .container {
                padding: 20px; /* Add some padding inside the border */
                border-radius: 5px; /* Optional: rounded corners */
                background-color: #f8f9fa; /* Optional: light background color */
            }
        }
    </style>


</head>

<body>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-6">
                <form id="login" method="post">
                    {% csrf_token %}
                    <legend class="border-bottm mb-4">Join Today</legend>
                   
                    {{ form|crispy }}
                    
                    
                    <fieldset class="form-group mt-3">
                        <input class="form-control" id="phone" type="tel" name="phone" value="{{ form.phone_number }}" />
                        <button type="submit" class="btn btn-primary" id="verify-button" value="Verify">Verify</button>
                    </fieldset>
                    <button type="submit" id="register_button" class="btn btn-primary mt-1 mb-1"
                        disabled>Register</button>
                    <input type="hidden" id="phone-number" name="phone_number" value="">
                    <div class="alert alert-info" id="phone_number_error" style="display: none;"></div>
                </form>
                <div class="alert alert-info" style="display: none;"></div>
            </div>
        </div>
    </div>



</body>

<script src="{% static '/utils/verification.js' %}"></script>

<script>
const checkPhoneNumberUniqueURL = "{% url 'check_phone_number_unique' %}";
const twilioVerificationCheckURL = "/check-verification/"
const twilioVerificationRequestURL = "/request-verification/"
    
</script>



<script>
  // initializeManagerDropdown()
</script>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        // Retrieve the original phone number value from the hidden input
        const originalPhoneNumber = document.getElementById('phone-number').value;

        // Initialize the intlTelInput library
        const phoneInputField = document.querySelector("#phone");
        const phoneInput = window.intlTelInput(phoneInputField, {
            utilsScript: "https://cdnjs.cloudflare.com/ajax/libs/intl-tel-input/17.0.8/js/utils.js",
        });

        // Set the original phone number as the value of the #phone input
        phoneInput.setNumber(originalPhoneNumber);
    });
</script>


</html>



{% endblock %}