{% extends "../base/base.html" %}
{% block title %}Index{% endblock %}

{% block template %}

{% load crispy_forms_tags %}


<form method="post" action="{% url 'CreateEnvelope' %}">
  <div class="container">
    <div class="row justify-content-center">
      <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-6">
        <legend class="border-bottm mb-4">Send A Docusign File</legend>
        {% csrf_token %}
        {{ form|crispy }}
        <button type="submit" class="btn btn-primary mt-2 mb-1">Submit</button>
      </div>
    </div>
  </div>
</form>


{% endblock %}