

{% load crispy_forms_tags %}

{% if messages %}
  {% for message in messages %}
    <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
      {{ message }}
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
  {% endfor %}
{% endif %}

<form method="post">
  {% csrf_token %}
  <input type="hidden" name="form_type" value="docusign">
  {{ docusign_form|crispy }}
  <button type="submit" class="btn btn-outline-primary mobile-btn mt-3">Create Envelope</button>
</form>


