{% extends "../base/base.html" %}
{% block template %}
{% load static %}
{% include "../base/navbar.html" %}
{% load crispy_forms_tags %}

<h1>Waiting for Others</h1>
<table>
    <thead>
        <tr>
            <th>Document Name</th>
            <th>Status</th>
            <th>Sent Date</th>
            <th>Outstanding Signers</th>
        </tr>
    </thead>
    <tbody>
        {% for envelope in envelopes %}
        <tr>
            <td>{{ envelope.template_name }}</td>
            <td>{{ envelope.status }}</td>
            <td>{{ envelope.sent_date_time }}</td>
            <td>
                <ul>
                    {% for signer in envelope.signers %}
                    <li>{{ signer.name }} ({{ signer.email }}) - {{ signer.status }}</li>
                    {% endfor %}
                </ul>
            </td>
        </tr>
        {% endfor %}
    </tbody>
</table>


{% endblock %}