{% extends "../base/base.html" %}
{% block template %}
{% load static %}
{% include "../base/navbar.html" %}
{% load crispy_forms_tags %}

<head>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css"
        href="https://cdn.datatables.net/v/dt/jq-3.6.0/jszip-2.5.0/dt-1.12.1/b-2.2.3/b-html5-2.2.3/b-print-2.2.3/r-2.3.0/datatables.min.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript"
        src="https://cdn.datatables.net/v/dt/jq-3.6.0/jszip-2.5.0/dt-1.12.1/b-2.2.3/b-html5-2.2.3/b-print-2.2.3/r-2.3.0/datatables.min.js"></script>

</head>

<div class="container mb-2" style="height: 95vh;">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-10 col-md-8 col-lg-8 col-xl-8 mt-2">


            <!-- Table for outstanding documents -->
            <table id="table_id" class="display">
                <thead>
                    <tr>
                        <th>Document Name</th>
                        <th>Status</th>
                        <th>Sent Date</th>
                        <th>Outstanding Signers</th>
                    </tr>
                </thead>
                <!-- Loading indicator -->
                <div id="loading"
                    style="display: none; height: 100vh; display: flex; flex-direction: column; align-items: center; justify-content: center;">
                    <p>Loading outstanding documents, please wait...</p>
                    <div class="spinner-border" role="status">
                        <span class="visually-hidden">Loading...</span>
                    </div>
                </div>
                <tbody id="outstanding-docs-body">
                    <!-- Rows will be dynamically added here -->
                </tbody>
            </table>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        // Initialize DataTable with empty data
        var table = $('#table_id').DataTable({
            language: { search: "" },
            responsive: true,
            "pageLength": 10,
            order: [[2, 'desc']]
        });

        // Set the placeholder without the word "Search"
        $('.dataTables_filter input[type="search"]').attr('placeholder', 'Search...');

        // Apply custom CSS styles to align the search box to the left
        $('.dataTables_filter input[type="search"]').css({
            'text-align': 'left', // Align the text to the left
            'border-radius': '10px', // Adjust the border-radius as needed
            'padding-left': '10px' // Add padding to the left for the text
        });

        // Function to fetch outstanding documents via AJAX
        function fetchOutstandingDocs() {
            // Show the loading indicator
            $('#loading').show();

            // Make the AJAX request
            $.ajax({
                url: "{% url 'waiting_for_others' %}",
                method: "GET",
                success: function (data) {
                    // Hide the loading indicator
                    $('#loading').hide();

                    // Clear the table body
                    table.clear();

                    // Check if there are outstanding envelopes
                    if (data.outstanding_envelopes.length > 0) {
                        // Populate the table with data
                        data.outstanding_envelopes.forEach(function (envelope) {
                            var signers = envelope.signers.map(function (signer) {
                                return signer.name + " (" + signer.email + ") - "+ "<br>Role: " + signer.role + "<br>Status: " + signer.status +
                                    "<br>Store: " + signer.store + "<br>Address: " + signer.address ;
                            }).join('<br><br>');

                            table.row.add([
                                envelope.template_name + ' <br>sent to ' + envelope.primary_recipient,
                                envelope.status,
                                envelope.sent_date_time.slice(0, 10),
                                signers,
                                
                            ]).draw(false);
                        });
                    } else {
                        $('#outstanding-docs-body').append('<tr><td colspan="4">No outstanding documents found.</td></tr>');
                    }
                },
                error: function () {
                    $('#loading').hide();
                    $('#outstanding-docs-body').append('<tr><td colspan="4">An error occurred while fetching outstanding documents. Please try again later.</td></tr>');
                }
            });
        }

        // Fetch the outstanding documents when the page loads
        fetchOutstandingDocs();
    });
</script>


{% endblock %}