{% extends "../base/base.html" %}
{% block title %}Email Event Summary{% endblock %}

{% block template %}
{% include "../base/navbar.html" %}
{% load crispy_forms_tags %}

<head>
    <!-- DataTables CSS and JS libraries -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css"
        href="https://cdn.datatables.net/v/dt/jq-3.6.0/jszip-2.5.0/dt-1.12.1/b-2.2.3/b-html5-2.2.3/b-print-2.2.3/r-2.3.0/datatables.min.css" />
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/pdfmake.min.js"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/pdfmake/0.1.36/vfs_fonts.js"></script>
    <script type="text/javascript"
        src="https://cdn.datatables.net/v/dt/jq-3.6.0/jszip-2.5.0/dt-1.12.1/b-2.2.3/b-html5-2.2.3/b-print-2.2.3/r-2.3.0/datatables.min.js"></script>
</head>

<div class="container">
    <div class="row justify-content-center">
        <div class="row justify-content-center pt-5 mt-5"></div>
        <div class="col-12 col-sm-10 col-md-8 col-lg-10 col-xl-10">
            <legend class="border-bottom mb-4">Email Logs</legend>
            <form method="get" action="{% url 'email_event_summary' %}" class="mb-4">
                {{ form|crispy }}
                <button type="submit" class="btn btn-primary mt-2">Filter</button>
            </form>

           <div>
                {{ summary_table|safe }}
           </div>
        </div>
    </div>
</div>

<!-- Initialize DataTables -->
 <script>
 $(document).ready(function () {
        $('#table_sms').DataTable({
            dom: 'Bfrtip',
            responsive: true,
            buttons: [
                {
                    extend: 'excelHtml5',
                    text: 'Export to Excel',
                    title: 'Email Event Summary'
                }
            ],
            order: [[0, 'desc']]
        });
    });
</script>
{% endblock %}