{% extends "../base/base.html" %}
{% block title %}Employee Email Report{% endblock %}

{% block template %}
{% include "../base/navbar.html" %}
{% load crispy_forms_tags %}

<style>
    table th {
        text-align: left;
    }
</style>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-10 col-md-8 col-lg-10 col-xl-10">
            <legend class="border-bottom mb-4">Employee Email Report</legend>
            <form method="get">
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Generate</button>
            </form>

            {% if report_table %}
                <h3>Report Results</h3>
                <div>
                    {{ report_table|safe }}
                </div>
            {% else %}
                <p>No data to display. Please select an employee.</p>
            {% endif %}
        </div>
    </div>
</div>
{% endblock %}