{% extends "../base/base.html" %}
{% block title %}Communications{% endblock %}
{% block template %}

{% include "../base/navbar.html" %}
{% load crispy_forms_tags %}


<div class="container mb-2" style="height: 95vh;">
  <div class="justify-content-center pt-5 mt-5"></div>
  <div class="row justify-content-center">

  <legend>Communications</legend>

  <!-- Nav Tabs -->
  <ul class="nav nav-tabs" id="commsTabs">
    {% if can_send_email %}
    {% if can_send_email %}
    <li class="nav-item">
      <a class="nav-link {% if active_tab == 'email' %}active{% endif %}" data-bs-toggle="tab" href="#email">Email</a>
    </li>
    <li class="nav-item">
      <a class="nav-link {% if active_tab == 'quick_email' %}active{% endif %}" data-bs-toggle="tab" href="#quick_email">Quick Email</a>
    </li>
  {% endif %}
    {% endif %}

    {% if can_send_sms %}
    <li class="nav-item">
      <a class="nav-link {% if active_tab == 'sms' %}active{% endif %}" data-bs-toggle="tab" href="#sms">SMS</a>
    </li>
    {% endif %}
    {% if can_send_docusign %}
    <li class="nav-item">
      <a class="nav-link {% if active_tab == 'docusign' %}active{% endif %}" data-bs-toggle="tab" href="#docusign">DSign</a>
    </li>
    {% endif %}
    <li class="nav-item">
      <a class="nav-link {% if active_tab == 'docusign' %}active{% endif %}" data-bs-toggle="tab" href="#whatsapp">DSign</a>
    </li>
    
   
  </ul>

  <!-- Tab Content -->
  <div class="tab-content mt-3">
    <div id="email" class="tab-pane fade {% if active_tab == 'email' %}show active{% endif %}">
      {% include "msg/template_email_form.html" %}
    </div>

    <div id="quick_email" class="tab-pane fade {% if active_tab == 'quick_email' %}show active{% endif %}">
      {% include "msg/quick_email_form.html" %}
    </div>

    <div id="sms" class="tab-pane fade {% if active_tab == 'sms' %}show active{% endif %}">
      {% include "msg/sms_form.html" %}
    </div>

    <div id="docusign" class="tab-pane fade {% if active_tab == 'docusign' %}show active{% endif %}">
      {% include "dsign/name_email_form.html" %}
    </div>

    <div id="whatsapp" class="tab-pane fade {% if active_tab == 'docusign' %}show active{% endif %}">
      {% include "msg/whatsapp_form.html" %}
    </div>
  </div>
</div>

<!-- Script to activate correct tab on reload -->
<script>
  document.addEventListener("DOMContentLoaded", function () {
    const activeTab = "{{ active_tab|default:'email' }}";
    if (activeTab) {
      const triggerTab = document.querySelector(`a[data-bs-toggle="tab"][href="#${activeTab}"]`);
      if (triggerTab) {
        const tab = new bootstrap.Tab(triggerTab);
        tab.show();
      }
    }
  });
</script>
{% endblock %}