{% extends "../base/base.html" %}
{% block title %}Index{% endblock %}

{% block template %}
{% include "../base/navbar.html" %}
{% load crispy_forms_tags %}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-6">

            <div class="tabs mt-3 mb-3">
                <button class="tab-btn btn-info" data-form-url="{% url 'send_template_email_view' %}">Email</button>
                <button class="tab-btn btn-info" data-form-url="{% url 'send_one_off_sms_view' %}">SMS</button>
                <button class="tab-btn btn-info" data-form-url="{% url 'CreateEnvelope' %}">DSign</button>
            </div>
        </div>
    </div>
</div>
<div class="form-container">
    <div id="form-container" >
        <!-- Form content will be dynamically loaded here -->
    </div>
</div>



<script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
<script>
    $(document).ready(function () {
        // Initial setup
        $(".tab-btn:first").addClass("active");
        loadForm($(".tab-btn:first").data("form-url"));

        // Switching between tabs
        $(".tab-btn").on("click", function (e) {
            e.preventDefault();  // Prevent default action for anchor links
            $(".tab-btn").removeClass("active");
            $(this).addClass("active");

            var formUrl = $(this).data("form-url");
            loadForm(formUrl);
        });

        function loadForm(url) {
            $.ajax({
                url: url,
                method: "GET",
                success: function (response) {
                    $("#form-container").html(response);
                },
                error: function (xhr, status, error) {
                    console.error("Error loading form:", status, error);
                }
            });
        }
    });
</script>



{% endblock %}