{% extends "../base/base.html" %}
{% block template %}
{% load static %}
{% include "../base/navbar.html" %}
{% load crispy_forms_tags %}


<head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/main.css' %}">
   
</head>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-6">

            <div class="radio-navigation mt-3 mb-3">
                <input type="radio" id="tab1" name="tab" data-form-url="{% url 'send_template_email_view' %}">
                <label for="tab1">Email</label>

                <input type="radio" id="tab2" name="tab" data-form-url="{% url 'send_one_off_sms_view' %}">
                <label for="tab2">SMS</label>

                <input type="radio" id="tab3" name="tab" data-form-url="{% url 'CreateEnvelope' %}">
                <label for="tab3">DSign</label>

                <input type="radio" id="tab3" name="tab" data-form-url="{% url 'send_whats_app_template_view' %}">
                <label for="tab3">WhatsApp</label>
            </div>
        </div>
    </div>
</div>

<div class="form-container">
    <div id="form-container">
        <!-- Form content will be dynamically loaded here -->
    </div>
</div>


<script src="{% static '/utils/comms.js' %}"></script>
<script>
   $(document).ready(function () {
    // Call the initTabs function from helper.js
    initTabs();
});
</script>

{% endblock %}
