{% extends "../base/base.html" %}
{% block title %}Index{% endblock %}

{% block template %}
{% include "../base/navbar.html" %}

<div class="container">
  <div class="row justify-content-center">
      <div class="col-12 col-sm-10 col-md-8 col-lg-6 col-xl-6">
  <legend class="mb-4">Help & Instructions</legend>
  {% for section in sections %}
    <div class="mb-4">
      <h3>{{ section.title }}</h3>
      <p>{{ section.content|linebreaks }}</p>
    </div>
  {% endfor %}
</div>
</div>
</div>
{% endblock %}