@import url('https://fonts.googleapis.com/css2?family=Archivo:wght@300&display=swap');

.logo {
    font-family: 'Archivo', sans-serif;
}

.fs-12 {
    font-size: 0.75rem;
}

.fs-14 {
    font-size: 0.875rem;
}


.fs-15 {
    font-size: 0.9375rem;
}

.fw-500 {
    font-weight:500;
}


.infscroll title {
    font-size: 22px;
    letter-spacing: -0.6px;
}

#fileTable td {
    max-width: 200px; /* Adjust the value as needed */
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

 /* Adjust button widths to be the same */
 .btn-primary,
 .btn-success {
     width: 100px;
     /* Change the width as needed */
 }

 .custom-legend {
     font-size: 1.2em;
     /* Adjust the font size */
     font-weight: normal;
     /* Make the font weight lighter */
     color: #555;
     ;
     /* Use a softer color */
 }


@media only screen and (max-width: 768px){
    
    .infscroll h1 {
        font-size: 0.9375rem;
        letter-spacing: -0.0px;
    }
    .infscroll-author, 
    .infscroll-date {
        font-size: 0.0123rem;
    }

}


