{% load waffle_tags %}

<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container">
    <a class="navbar-brand fs-3" href="#">ARL</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'register' %}">Register</a>
        </li>
        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </li>

        {% if user.is_dropbox %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'list_folders' %}">Dropbox</a>
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'create_salt_log' %}">Create Salt Log</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'salt_log_list' %}">Update Salt Log</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'create_incident' %}">Make Incident Form</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'incident_list' %}">View/Edit Incident Form</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'create_major_incident' %}">Create Major Inc. Form</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'major_incident_list' %}">List Major Inc. Form</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'carwash_status' %}">Carwash Update</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'carwash_status_list' %}">Carwash List</a>
        </li>
        {% flag 'enable_nav_link' %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'quiz_list' %}">Quiz</a>
        </li>
        {% endflag %}

        {% if user.is_comms %}
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            Comms 
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="{% url 'comms' %}">Comms Overview</a></li>
            <li><a class="dropdown-item" href="{% url 'fetch_twilio' %}">SMS Logs</a></li>
            <li><a class="dropdown-item" href="{% url 'fetch_twilio_calls' %}">Call Logs</a></li>
            <li><a class="dropdown-item" href="{% url 'email_event_summary' %}">Email Logs</a></li>
            <li><a class="dropdown-item" href="{% url 'employee_email_report' %}">Employee Email Report</a></li>
            <li><a class="dropdown-item" href="{% url 'waiting_for_others' %}">Outstanding Docs</a></li>
            <li><a class="dropdown-item" href="{% url 'queued_incidents_list' %}">Queued Incidents</a></li>
            <li><a class="dropdown-item" href="{% url 'summarize_costs' %}">Message Summary</a></li>
            <li><a class="dropdown-item" href="{% url 'task_results' %}">Task Results</a></li>
          </ul>
        </li>
        {% endif %}

        {% if user.is_staff %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
        </li>
        

        {% endif %}
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">Login</a>
        </li>
        {% endif %}

      </ul>
    </div>
  </div>
</nav>