<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container">
    <a class="navbar-brand fs-3" href="#">ARL</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'home' %}">Home</a>
        </li>

        {% if user.is_authenticated %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Logout</a>
        </li>

        {% if user.is_dropbox %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'list_folders' %}">Dropbox</a>
        </li>
        {% endif %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'register' %}">Register</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'create_incident' %}">Make Incident Form</a>
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'incident_list' %}">View/Edit Incident Form</a>
        </li>

        {% if user.is_comms %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'comms' %}">Comms</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'fetch_twilio' %}">SMS Logs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'fetch_twilio_calls' %}">Call Logs</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'waiting_for_others' %}">Outstanding Docs</a>
        </li>
        {% endif %}
        
        {% if user.is_staff %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'admin:index' %}">Admin</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'quiz_list' %}">Quiz</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'create_major_incident' %}">Create Major Inc.</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'major_incident_list' %}">List Major Inc.</a>
        </li>
        {% endif %}
        {% else %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'login' %}">Login</a>
        </li>
        {% endif %}
       
      </ul>
    </div>
  </div>
</nav>
