{% extends "../base/base.html" %}
{% block title %}Carwash Status{% endblock %}

{% block template %}
{% include "../base/navbar.html" %}
{% load crispy_forms_tags %}

<style>
    

    select,
    input,
    button {
        max-width: 100%;
        box-sizing: border-box;
        /* Include padding and border in the element's width */
    }
</style>


<div class="container mt-4">
    <div class="row justify-content-center pt-5 mt-5"></div>
    <div class="row justify-content-center">
        <div class="col-12 col-lg-10">
            <legend class="border-bottom mb-4">Carwash Status</legend>
<form method="post">
    {% csrf_token %}
    {{ form|crispy }}
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
</div>
</div>
{% endblock %}