{% extends "admin/change_form.html" %}
{% load i18n admin_urls %}

{% block content %}
<div id="content-main">
  <form enctype="multipart/form-data" method="post" action="{% url opts|admin_urlname:'add' %}" novalidate>{% csrf_token %}
    <fieldset class="module aligned">
      <div class="form-row">
        <div>
          {{ form.username.errors }}
          <label>{{ form.username.label }}</label>
          {{ form.username }}
        </div>
        <div>
          {{ form.email.errors }}
          <label>{{ form.email.label }}</label>
          {{ form.email }}
        </div>
      </div>
      <div class="form-row">
        <div>
          {{ form.first_name.errors }}
          <label>{{ form.first_name.label }}</label>
          {{ form.first_name }}
        </div>
        <div>
          {{ form.last_name.errors }}
          <label>{{ form.last_name.label }}</label>
          {{ form.last_name }}
        </div>
      </div>
      <div class="form-row">
        <div>
          {{ form.phone_number.errors }}
          <label>{{ form.phone_number.label }}</label>
          {{ form.phone_number }}
        </div>
        <div>
          {{ form.address.errors }}
          <label>{{ form.address.label }}</label>
          {{ form.address }}
        </div>
      </div>
      <div class="form-row">
        <div>
          {{ form.address_two.errors }}
          <label>{{ form.address_two.label }}</label>
          {{ form.address_two }}
        </div>
        <div>
          {{ form.city.errors }}
          <label>{{ form.city.label }}</label>
          {{ form.city }}
        </div>
      </div>
      <div class="form-row">
        <div>
          {{ form.state_province.errors }}
          <label>{{ form.state_province.label }}</label>
          {{ form.state_province }}
        </div>
        <div>
          {{ form.postal.errors }}
          <label>{{ form.postal.label }}</label>
          {{ form.postal }}
        </div>
      </div>
      <div class="form-row">
        <div>
          {{ form.country.errors }}
          <label>{{ form.country.label }}</label>
          {{ form.country }}
        </div>
        <div>
          {{ form.sin.errors }}
          <label>{{ form.sin.label }}</label>
          {{ form.sin }}
        </div>
      </div>
      <div class="form-row">
        <div>
          {{ form.dob.errors }}
          <label>{{ form.dob.label }}</label>
          {{ form.dob }}
        </div>
        <!-- Include other fields similarly -->
      </div>
      <div class="submit-row">
        <input type="submit" value="{% trans 'Save' %}" class="default" name="_save">
      </div>
    </fieldset>
  </form>
</div>
</div>
{% endblock %}

